h1 {
    color: aqua;
}

#title {
    color: brown;
}

.test_h1 {
    color: cornflowerblue;
}

.color_green_text {
    color: green;
}

.bold {
    font-weight: bold;
}


div ol {
    color: rgb(255, 5, 5);
}

section>h1 {
    color: brown;
}

.tag_div {
    color: chartreuse;
}

/*section+h1 {
    color: blueviolet;
}*/
section~h1 {
    font-style: italic;
}

div h1 {
    font-style: italic;
}

li:hover {
    background-color: green;
}