* {
    padding: 0;
    margin: 0;
}

main img {
    width: 225px;
}

header {
    width: 750px;
    display: flex;
    justify-content: space-between;
}

main header .anh1,
.anh2,
.anh3 {
    width: 225px;
    /* height: 225px;    */
    z-index: 100;
    position: relative;

}

/* Phần ảnh thứ nhất */
main header .img_first {
    width: 225px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

/* Phần ảnh thứ hai */
main header .img_last {
    width: 225px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    position: relative;
}

/* Phần hover ảnh */
main header .img_first:hover {
    display: none;
}

header .img_last .xem_nhanh {
    width: 100px;
    background-color: orange;
    padding: 10px 20px;
    position: absolute;
    top: 186px;
    left: 40px;
}

/* Phần nội dung cho ảnh */
header .noidung {
    width: 225px;
    position: absolute;
    top: 225px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .noidung .them_vao_gio {
    background-color: grey;
    padding: 10px 20px;
}

header .noidung .text_grey {
    color: grey;
    font-weight: 600;
}

header .noidung .font_18px {
    font-size: 18px;
}


a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}