.username {
    position: relative;
}

.username>label {
    position: absolute;
    top: 8px;
    left: 10px;
    font-size: 500;
    transition: all 0.3s ease-in-out;
}

.username>input {
    height: 30px;
    width: 200px;
    outline: none;
    position: relative;
    z-index: 1;
    background-color: transparent;
}

.username>input:focus {
    border: 2px solid blue;
}

.username>input:focus+label,
.username>input:valid+label {
    color: blue;
    top: -6px;
    font-size: 10px;
    background-color: white;
    padding: 0px 5px;
    z-index: 2;
}