.loading {
    width: 100vw;
    height: 100vh;
    background-color: aqua;
    position: relative;
}

.animation {
    display: flex;
    position: fixed;
    width: 50%;
    height: 50%;
    background-color: rgba(195, 185, 185, 0.56);
    justify-content: center;
    align-items: center;
}

.border {
    width: 100px;
    height: 100px;
    border: 20px solid white;
    border-radius: 50%;
    animation: circle 1s infinite linear;
    border-top: 20px solid red;
}

@keyframes circle {
    100% {
        transform: rotate(360deg);
    }
}