.news {
    width: 800px;
    margin-left: 10px;
}

header {
    /* padding-left: ; */
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

header .Thoi_su {
    font-size: 2rem;
    font-weight: bold;
    padding-left: 0px;
}

header span {
    padding-left: 10px;
}


.border_right {
    border-right: 1px solid grey;
    margin: 10px;
    margin-bottom: 0px;
}

.noi_dung {
    margin-right: 10px;
}

.phan_1 {
    background-color: aqua;

}

.img_left img {
    width: 340px;
    float: left;
}

.nd_phan_1 {
    width: 300px;
    margin-left: 10px;
    float: right;
}

.clr {
    clear: both;
}