.news {
    width: 700px;
    padding-left: 10px;
}

.news .title {
    border-bottom: 2px solid grey;
    padding: 10px;
    padding-left: 0;
    margin-bottom: 10px;
}

.padding_left {
    padding-left: 10px;

}

.news .noi_dung {
    margin-right: 10px;
    border-right: 1px solid rgba(145, 139, 139, 0.79);
}

.news .thoi_su {
    font-weight: bold;
    font-size: 2rem;
}

.news .border_bot {
    border-bottom: 1px solid rgba(140, 136, 136, 0.738);
    margin-right: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.news .phan_1 {
    background-color: rgba(234, 8, 8, 0.336);

    /* background-clip: padding-box; */

}

.phan_1 img {
    width: 400px;
    float: left;

}

.phan_1 .nd_anh_1 {
    width: 270px;
    float: right;


}

.phan_1 .text_grey {
    color: grey;
}

.padding_right {
    padding-right: 10px;
}

.clr {
    clear: both;
}