.container {
    width: 100%;
    height: 500px;
    border: 1px solid black;
    background-color: greenyellow;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    align-items: baseline;
    justify-content: space-evenly;
}

.container .item {
    width: 20%;
    height: 100px;
    background-color: red;
    flex-grow: 1;
    margin: 20px;
}

.container .item1 {
    width: 30%;
    height: 60px;
    background-color: orange;
    /* margin: 20px; */
}

.container1 {
    width: 100%;
    height: 500px;
    border: 1px solid black;
    background-color: yellow;
    display: flex;
    /* flex-direction: row; */
    flex-flow: row wrap;
    /* flex-basis: 900px; */
    align-items: baseline;
}

.container1 .item {
    width: 100px;
    height: 30px;
    background-color: aqua;
    margin: 20px;
}

.container1 .item1 {
    width: 50px;
    height: 60%;
    background-color: green;
    margin: 20px;
    align-self: baseline;
}